html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background-color: black;
    font-weight: bold;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

#container {
    height: 100vh;
}

#leftPanel {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 5vw;
    border-right: 3px solid #454545;
    background-color: #5E2D79;
}

#title {
    position: absolute;
    top: 45%;
    width: 600%;
    margin-left: -12.5vw;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: center;
    color: white;
    font-family: "Lobster", cursive;
    font-size: 3.7vw;
}


/*SLIDING MENU*/

.banner {
    position: absolute;
    z-index: 1;
    right: left;
    width: 20vw;
    background-color: grey;
}

#instructions {
    margin-top: 3vw;
    padding-right: 1vw;
    padding-left: 6vw;
}

#tester {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25%;
    height: 3vw;
    padding-top: 1.1vw;
    text-align: center;
    color: white;
    background-color: #660000;
    font-size: 1vw;
}

#moderHolder {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vw;
    padding-top: 1.1vw;
    text-align: center;
    background-color: #EE7621;
    font-size: 1vw;
}

#hinterHolder {
    position: absolute;
    width: 50%;
    height: 2vw;
    margin-top: 19vw;
    margin-left: 7.5vw;
    border: 1px solid #000;
}

.hints {
    float: right;
    height: inherit;
    border-left: 1px solid #000;
}

#hint0 {
    background-color: red;
}

#hint1 {
    background-color: green;
}

#hint2 {
    background-color: blue;
}

#hint3 {
    background-color: yellow;
}

#rightPanel {
    position: absolute;
    z-index: 2;
    right: 0;
    width: 5vw;
    border-left: 3px solid #454545;
    background-color: #5E2D79;
}

#footsy {
    position: absolute;
    top: 45%;
    width: 600%;
    margin-left: -12.5vw;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: center;
    color: white;
    font-size: 1.7vw;
}


/*GAME OVER MENU*/

.notice {
    position: absolute;
    z-index: 3;
    top: 20vw;
    left: 35vw;
    width: 30vw;
    height: 15vw;
    border-radius: 5%;
    background-color: #5E2D79;
    font-weight: bold;
}

#gameOver {
    margin-top: 4vw;
    margin-bottom: 1vw;
}

#marketing {
    margin-top: 3vw;
}

.workImg:hover {
    filter: brightness(1.5);
}

#casMsg {
    margin-top: 5vw;
}


/*SPECIAL HEXES / BUTTONS */


/*TOP*/

#H48, #H58, #H59, #H69, #H79, #H80 {
    background-color: #FF4040;
}


/*RIGHT*/

#H113, #H124, #H134, #H135, #H145, #H155 {
    background-color: #78AB46;
}


/*BOTTOM*/

#H184, #H185, #H195, #H205, #H206, #H216 {
    background-color: #50A6C2;
}


/*LEFT*/

#H109, #H119, #H129, #H140, #H151, #H130 {
    background-color: #FBEC5D;
}


/*MENUS*/

#H56, #H61, #H132, #H203, #H208 {
    background-color: white;
}

.textButs {
    padding-top: 1.1vw;
    text-align: center;
    font-size: 1vw;
}


/*COUNTER*/

#H132 {
    padding-top: 0.4vw;
    text-align: center;
    font-size: 2vw;
}

.menuBut:hover {
    box-shadow: 1px 1px 20px white;
    filter: brightness(200%);
}


/*FOR ALL HEXES*/

li.hex-row:nth-child(2n) .hexagon {
    transform: translateX(50%) rotate(120deg);
}

#hexagonContainer {
    position: relative;
    overflow: hidden;
    height: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

.hexagon {
    position: relative;
    display: inline-block;
    visibility: hidden;
    overflow: hidden;
    width: 9.3vw;
    height: 3.54vw;
    margin-right: -0.5vw;
    margin-bottom: -1.75vw;
    transform: rotate(120deg);
    background: transparent;
}

li.hex-row {
    white-space: nowrap;
    filter: drop-shadow(0.2vw 0.2vw 0.1vw black);
}

.hexagon .hex-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
}

.hexagon .hex-img {
    visibility: visible;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    background-color: #100000;
    box-shadow: 1px 0 0 0;
}

.hexagon .hex-img:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
}

.hex-img.hide {
    visibility: hidden;
}

.hex-img:hover {
    cursor: pointer;
}
