html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: black;
}

#tester {
    position: fixed;
    float: left;
    z-index: 2;
    color: white;
}

li.hex-row:nth-child(2n) .hexagon {
    transform: translateX(50%) rotate(120deg);
}

#hexagonContainer {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    height: 100vh;
    /*  	border: 4px dotted white; */
    /*  	transform: translateY(-30px); */
    /*  	transform: translateX(-35px); */
}

.hexagon {
    width: 9.3vw;
    background: transparent;
    height: 3.54vw;
    display: inline-block;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    margin-bottom: -1.75vw;
    position: relative;
    margin-right: -0.5vw;
    /*  	margin-right: -3px; */
    /* 	 margin-left: -0.5vw; */
}

li.hex-row {
    white-space: nowrap;
    filter: drop-shadow(0.2vw 0.2vw 0.1vw black);
}

.hexagon .hex-inner {
    width: 100%;
    height: 100%;
    /*background: rebeccapurple;*/
    transform: rotate(-60deg);
    overflow: hidden;
    position: relative;
    /* background-color: black; */
}

.hexagon .hex-img {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    visibility: visible;
    box-shadow: 1px 0 0 0;
    /*  	background-color: #310073; */
    background-color: #100000;
}

.hexagon .hex-img:after {
    position: absolute;
    width: 100%;
    content: '';
    z-index: 1;
    height: 100%;
    /*   background-image: url(http://www.w3schools.com/cssref/img_flwr.gif); */
    background-position: center center;
    background-repeat: no-repeat;
}

.hex-img.hide {
    visibility: hidden;
}

.hex-img:hover {
    cursor: pointer;
}


/*TOP*/

#H48, #H58, #H59, #H69, #H79, #H80 {
    background-color: red;
}


/*LEFT*/

#H109, #H119, #H129, #H140, #H151, #H130 {
    background-color: yellow;
}


/*BOTTOM*/

#H184, #H185, #H195, #H205, #H206, #H216 {
    background-color: blue;
}


/*RIGHT*/

#H113, #H124, #H134, #H135, #H145, #H155 {
    background-color: green;
}


/*MENUS*/

#H56, #H61, #H132, #H203, #H208 {
    background-color: white;
}

#home, #menu, #counter, #mode, #start {
    background-color: white;
    /*font-size: 1vw;
    padding-top: 1.1vw;*/
}

.textButs {
    text-align: center;
    font-size: 1vw;
    padding-top: 1.1vw;
}
